html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    title Chat app
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-5
      .container
        a.navbar-brand.mx-auto(href='/') Chat app
    .container
      .row
        .col-md-6
          #error.alert-danger
          #userFormWrap
            h2 Create username
            form#userForm
              .form-group
                input#username.form-control(name='username', type="text", placeholder="Enter username...")
                br
                button.btn.btn-primary(type="submit") Create
          #mainWrap
            h2 Send a message
            form#chatForm
              .form-group
                textarea#chatInput.form-control(name="body", placeholder="Say something...")
                br
                button.btn.btn-primary(type="submit") Send
            #chatWindow.card.scroll.msg-group-striped.msg-group-hover
        .offset-md-3.col-md-3
          h3 Chat Users
          ul.list-group.list-group-striped.list-group-hover
            #users.scroll
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/main.js")
    script(src='/socket.io/socket.io.js')
